<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SomeArchitect</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .cover{
            height: 48.5vw;
            background-image: url('/images/40c44ec31c45229c4dace1c6e462f769.jpg');
            background-size: cover;
            background-position: bottom;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cover div{
            text-align: center;
        }
        .outer{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .outer p{
            font-size: 3vw;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            color: white;
        }
        .cover a{
            
            color:white;
            cursor: pointer;
            font-style: italic;
        }
    </style>
 
</head>
<body>
    <div class="cover">
        <div>
            <div class="outer">
                <p><%= msg %><i class="fa fa-paper-plane-o"></i></p> 
            </div>
            <a href="/">explore more...</a>
        </div>
        
    </div>
    


</body>
</html>