*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head{
    background-image:url('/images/u1.jpg');
    color:white;
    font-size:2.5vw;
    background-attachment: fixed;
    background-position: bottom;
    height: 25vw;
    background-size: cover;
}
.head div{
    background-color: rgba(0, 0, 0,0.5);
    text-align:center;
    padding-top: 15%;
    width: 100%;
    height: 100%;
}
.head div p{
    transition: transform ease-in-out 1s;
}

.cover{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

table{
    margin: auto;
    padding: 1.5%;
    width: 100%;
}

table tr:first-child{
    font-size: 1.5vw;
    font-weight: 600;
    border-bottom: black 0.1vw solid;
}
table tr{
    font-size: 1vw;
}
td{
    padding: 1%;
    height: 12vw;
}
td:first-child{
    width: 12vw;
}
td img{
    width: 100%;
    height: 100%;
}
tr:nth-child(even){
    background-color: rgba(0, 128, 128,0.8);
    color: white;
}
.buy_cart{
    width: 50%;
    padding:1%;
    background-color:rgb(2, 158, 158);
    border: 0.1vw rgb(1, 63, 63) solid;
}

.del,.del:hover{
    color: red;
    padding: 1%;
    font-size: 2vw;
    width: 100%;
    display: block;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote div{
    width: 80%;
    font-style: italic;
    color: rgb(253, 168, 82);
    font-weight: 600;
    font-size: 1.2vw;
    height: 80%;
}
.summary p:first-child{
    color: grey;
    font-size: 1.4vw;
}
.summary button{
    padding: 1%;
    background-color: rgba(0, 128, 128,0.8);
    border: 0.15vw teal solid;
    transition: background-color linear 0.5s;
    font-size: 1.2vw;
    font-weight: 600;
    width: 80%;
}
.summary button:hover{
    background-color: rgba(144, 247, 247, 0.8);
    border: 0.15vw teal solid;
    font-size: 1.2vw;
    font-weight: 600;
    width: 80%;
}
.message{
    padding: 1%;
    border: 0.1vw rgb(253, 168, 82) solid;
    background-color: rgb(252, 222, 192);
    width: 60%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message p{
    font-size: 1.2vw;
    margin: 0;
    font-weight: 600;
}
.back{
    font-size: 1.2vw;
    color: teal;
    padding: 1%;
    display:inline-block;
    font-style: italic;
}
