*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head{
    background-image:url('/images/x.jpg');
    color:white;
    font-size:2.5vw;
    background-attachment: fixed;
    background-position: bottom;
    height: 25vw;
    background-size: cover;
}
.head div{
    background-color: rgba(0, 0, 0,0.5);
    text-align:center;
    padding-top: 15%;
    width: 100%;
    height: 100%;
}
.head div p{
    transition: transform ease-in-out 1s;
}

.cover{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.img-magnifier-container{
    border: 0.1vw grey solid;
    height: 30vw;
    width: 100%;
    position: relative;
}
#myimage{
    width: 100%;
    height: 100%
}

.img-magnifier-glass {
    position: absolute;
    border: 0.2vw solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 6vw;
    height: 6vw;
}

.color{
    border-radius: 50%;
    border: 0.2vw rgb(158, 158, 158) solid;
    height: 2vw;
    width: 2vw;
}

.details{
    font-size: 1.2vw;
    font-style: italic;
}
.details h2{
    font-size: 2.2vw;
    font-weight: 600;
}
.details form input{
    width: 10%;
    height: 100%;
    margin-bottom: 10%;
}
.details form button{
    width: 100%;
    padding: 1%;
    text-decoration: none;
    background-color: teal;
    color: white;
    transition: background-color linear 0.5s;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 2%;
}
.details button:hover{
    color: teal;
    background-color: white;
    border: 0.2vw teal solid;
}