*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    background-image:url('/images/z.jpg');
    color:white;
    font-size:2.5vw;
    background-attachment: fixed;
    background-position: bottom;
    height: 25vw;
    background-size: cover;
}

.head div{
    background-color: rgba(0, 0, 0,0.5);
    text-align:center;
    padding-top: 15%;
    width: 100%;
    height: 100%;
}
.head div p{
    transition: transform ease-in-out 1s;
}

.cart{
    font-size: 4vw;
    position: relative;
    color: rgb(3, 161, 161);
}
.cart:hover{
    color: rgb(59, 165, 165);
}
.number{
    font-size: 1.5vw;
    display: inline-block;
    color: white;
    position: absolute;
    top: 1.5vw;
    left: 2vw;
}

.cover{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.item{
    height:33vw;
    width: 80%;
    margin: 2%;
    border: 0.06vw rgb(128, 128, 128) solid;
}
.image{
    height: 70%;
    overflow: hidden;
    
}
.image img{
    width: 100%;
    height: 100%;
    transition: transform linear 0.5s;
}
.image img:hover{
    transform: scale(1.2,1.2);
}
.desc{
    text-align: center;
    height: 30%;
    font-size: 1vw;
    font-weight: 500;
}
.desc p{
    margin: 0;
}
.desc a{
    width: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 2%;
    font-weight: 600;
    font-size: 1.2vw;
    margin-top: 0.6vw;
    background-color:rgb(39, 202, 202);
    color: black;
    border: 0.05vw grey solid;
    transition: background-color linear 0.5s;
}
.desc a:hover{
    width: 100%;
    background-color:rgb(146, 235, 235);
    border: 0.1vw rgb(39, 202, 202) solid;
    color: black;
    text-decoration: none;
    padding: 2%;
    font-weight: 700;
    display: inline-block;
}